.container {
    height: 100vh;
    background-image: url('../../assets/image/movie-theater-picture.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-page {
    text-align: center;
    height: 300px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: whitesmoke;
}