.fav-icon {
    float: right;
    bottom: 70px;
    right: 10px;
    color: #efefef;
}

.title {
    font-family: var(--title-font);
    font-weight: 600;
}

.movie-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    margin: 10px 0 10px 0;
    background-color: transparent;
    border: 1px solid #efefef;
    position: relative;
    overflow: hidden;
    max-width: 350px;
    img {
        width: 280px;
        height: 350px;
    }
}

#card-header {
    color: white;
    display: flex;
    flex-direction: column;
    .subtitle {
        margin-left: 15px;
        font-style: italic;
    }
}

.card-actions>button {
    color: teal;
    background-color: #efefef;
    border: 1px solid;
    margin: 4px;
}