<app-nav-bar></app-nav-bar>
<div class="movie-view">
    <mat-card class="movie-card" *ngFor="let movie of movies; let i = index">

        <img src="{{ movie.imageUrl }}" alt="{{ movie.title }}" />
        <mat-card-header id="card-header">
            <mat-card-title class="title">{{ movie.title }}</mat-card-title>
            <p class="subtitle">Directed by: {{ movie.director.name }}</p>
            <mat-card-actions>
                <!-- Render add to or remove from favorites button depending on isFav -->
                <button class="fav-icon" mat-button *ngIf="!isFav(movie._id)" (click)="addToFavoriteMovies(movie._id)">
    <mat-icon>favorite_border</mat-icon>
  </button>
                <button class="fav-icon" mat-button *ngIf="isFav(movie._id)" (click)="removeFavoriteMovies(movie._id)">
    <mat-icon>favorite</mat-icon>
  </button>
            </mat-card-actions>
        </mat-card-header>

        <mat-card-actions class="card-actions">
            <button mat-button (click)="openGenreDialog(movie.title)">
        Genres
      </button>
            <button mat-button (click)="
          openDirectorDialog(
            movie.director.name,
            movie.director.bio,
            movie.director.birth
          )
        ">
        Director
      </button>
            <button mat-button (click)="openDescriptionDialog(movie.title, movie.plot)">
        Description
      </button>
        </mat-card-actions>
    </mat-card>
</div>