.header {
    color: #efefef;
    display: flex;
    flex-direction: column;
    .title {
        font-family: var(--title-font);
        font-weight: 600;
    }
    .subtitle {
        margin-left: 16px;
        font-style: italic;
    }
}

.movie-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    margin: 10px 10px 10px 0;
    background-color: transparent;
    border: 1px solid #efefef;
    position: relative;
    overflow: hidden;
    width: 310px;
    img {
        width: 300px;
        height: 350px;
    }
}

.card-actions {
    display: flex;
    justify-content: space-evenly;
    button {
        color: #efefef;
        margin: 0;
        border: 1px solid;
        background-color: teal;
    }
}

.genre-chip {
    background-color: #efefef;
    opacity: 75%;
    color: teal;
    border-radius: 25px;
    margin: 5px 10px 10px 0;
    padding: 8px;
}