<app-nav-bar></app-nav-bar>
<div style="display: flex">
    <mat-card *ngFor="let movie of movies; let i = index">
        <img src="{{ movie.imageUrl }}" alt="{{ movie.title }}" style="width: 280px" />
        <mat-card-header>
            <mat-card-title>{{ movie.title }}</mat-card-title>
            <mat-card-subtitle>Directed by: {{ movie.director.name }}</mat-card-subtitle>
        </mat-card-header>
        <p *ngFor="let genre of genres; let i = index">{{movie.genre}}</p>
        <mat-card-actions>
            <!-- <button  mat-button (click)="openGenreDialog(movie.title)" color="primary">
        
      </button> -->
            <button mat-button (click)="
          openDirectorDialog(
            movie.director.name,
            movie.director.bio,
            movie.director.birth
          )
        " color="primary">
        Director
      </button>
            <button mat-button (click)="openDescriptionDialog(movie.title, movie.description)" color="primary">
        Description
      </button>
            <!-- Render add to or remove from favorites button depending on isFav -->
            <button mat-button *ngIf="!isFav(movie._id)" (click)="addToFavoriteMovies(movie._id)" color="primary">
        <mat-icon>favorite_border</mat-icon>
      </button>
            <button mat-button *ngIf="isFav(movie._id)" (click)="removeFavoriteMovies(movie._id)" color="primary">
        <mat-icon>favorite</mat-icon>
      </button>
        </mat-card-actions>
    </mat-card>
</div>