.nav-bar {
    background-color: #efefef;
    border-bottom: whitesmoke;
    height: auto;
}

.nav-bar button {
    font-size: 1.5rem;
    color: teal;
    padding: 1rem;
}

.navbar-right {
    float: right;
    align-items: center;
}