.user-profile-page {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.card-container {
    width: 80%;
    margin-top: 50px;
}

.user-page-header {
    font-family: var(--title-font);
    font-size: 60px;
}

.card-content {
    margin: 10px;
    font-size: 1.2em;
    border: 1px solid;
}

.card-content>label {
    width: 100px;
    font-weight: 600;
    margin: 5px 10px 5px 0;
    color: red;
    background-color: gray;
}

span {}