<app-nav-bar></app-nav-bar>
<div class="user-profile-page">
    <!-- User Profile -->
    <mat-card class="card-container">
        <mat-card-header class="user-profile-card-header">
            <mat-icon>account_circle</mat-icon>
            <mat-card-title class="title">Profile information</mat-card-title>
        </mat-card-header>
        <!-- View Profile information -->
        <mat-card-content class="card-content">
            <div class="label-container">
                <label for="name">Name: </label>
                <label for="email"><b>Email: </b></label>

                <label for="birthday"><b>Birthday: </b></label>
            </div>
            <div>
                <p>{{ user.username }}</p>
                <p>{{ user.email }}</p>
                <p>{{ user.birthday }}</p>
            </div>
        </mat-card-content>

        <!-- Edit profile -->
        <mat-card-actions>
            <button mat-raised-button (click)="openEditDialog()" color="primary">
        <mat-icon>edit</mat-icon>
        Edit Profile
      </button>
            <button mat-raised-button (click)="deleteProfile()" color="warn">
        <mat-icon>delete_forever</mat-icon>
        Delete Profile
      </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card-container fav-movies-container">
        <mat-card-header class="card-header">
            <mat-card-title class="title">My Movies</mat-card-title>
            <mat-card-subtitle class="displayMessage" *ngIf="user.favoriteMovies == 0">Looks pretty lonely over here. Add some Movies!</mat-card-subtitle>
        </mat-card-header>
        <div class="scroll-container">
            <mat-card *ngFor="let movie of favoriteMovies; let i = index" class="movie-card">
                <mat-card-content>
                    <img src="{{ movie.imageUrl }}" alt="{{ movie.title }}" width="220" />
                    <button class="remove-button" mat-button color="accent" (click)="removeFavoriteMovies(movie._id)">
            <mat-icon>favorite</mat-icon>
          </button>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card>
</div>